<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="scripts.js"></script>

  <title>Simple Login</title>
</head>
<body>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Profile</h1>
        <hr>
        <h2>Welcome! You're logged in as <%= user.email %>.</h2>
        <hr>
        <h4>Add a new ship</h4>
        <form action="/new-ship" method="POST">
          <label for="newShipName"> New Ship Name:
            <input type="text" name="shipName" id="newShipName">
          </label>
          <br>
          <label for="newShipSize"> New Ship Size:
            <input type="text" name="shipSize" id="newShipSize">
          </label>
          <input type="submit" name="submitBtn">
        </form>
        <h4>Existing ships</h4>
        <% if (user.pirateShips) { %>
          <ul>
            <% for(var i = 0; i < user.pirateShips.length; i++){ %>
              <li><%= user.pirateShips[i].name %></li>
            <% } %>
          </ul>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>